<!-- Use This TEMPLATE if we have INVOICE -->
<div class="container" *ngIf="isInvoice">
  <app-invoice-table-component> </app-invoice-table-component>
</div>

<!-- Use This TEMPLATE if we have PRODUCT -->
<div class="container" *ngIf="isInvoice == false && isProduct == true">
  <app-product-table-component></app-product-table-component>
</div>

<!-- Use This TEMPLATE if we have CUSTOMER -->
<div class="container" *ngIf="isInvoice == false && isProduct == false">
  <app-customer-table-component></app-customer-table-component>
</div>
